
header {
    width:960px;
    margin:auto;
    height:100px;
    padding:20px 0;
    box-sizing:border-box;
  
}
#logo{
    width:270px;
    float:left;
}
#logo img {
    float: left;
    margin-right: 5px;
}
#logo h1{
    float: left;
    font-family: 'Yellowtail', cursive;
    font-size: 35px;
}

#logo h4{
    float: left;
    margin-left: 3px;
    font-family: 'Strait', sans-serif;
    font-size:10px;
    color:rgb(112, 111, 111);
}

#Links{
    float:right;
    width: 206px;
}
div img{
    float:right;
}

.left{
    float:left;
    margin-right:1px;
}

.right {
    float:right;
    margin-left:1px;
}

.middle {
    float:left;
}

/* The Hash Line from Google Searching  */


.hL{

    float:left;
    height:15px;
    width:960px;
    margin:auto;
    margin-top:20px;
    box-sizing:border-box;
    
    background: repeating-linear-gradient(
    45deg,
    rgba(70, 67, 67, 0.5),
    rgba(70, 68, 68, 0.5) 1px,
	transparent 1px,
	transparent 5px
  );
}


#list{
    position: relative;
    text-align: center;

}

#form{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20px;
 }

 #colOne{
  position: absolute;
  top: 35px;
  right: 65%;
  text-align: justify;
  font-size: 17pt;
  font-family: 'Caveat', cursive;

  font-family: 'Shadows Into Light', cursive;
  font-weight: 50pt;
}

#colTwo{
 position: absolute;
  top: 35px;
  right: 5%;
  text-align: justify;
  font-size: 17pt;
  font-family: 'Caveat', cursive;

  font-family: 'Shadows Into Light', cursive;
  font-weight: 50pt;

}

#last{
    position: relative;
    padding: 20px
}

#last img{
    margin-left: 3%;
    clear: both;
    float: left;
    padding-right: 15pt;  
    display: block;
    
}

#last span{

    color: rgb(128, 136, 145);
    position: absolute;
    font-size:larger;
    
}

#last p{
    font-size:large;
    color: slategrey;
    position: absolute;
    margin-left:120px;
    
}

button{
    text-align: center;
    padding: 15px 33px;
    color:whitesmoke;
    background-color: rgba(165, 67, 42, 0.87);
    float: right;
    clear: both; 
    margin-right: 3%;   
 }


footer{
    padding:80px;
    clear: both;
}

hr{
    display: block;
    background-image: url(../img/hr-img.png);
    border: 0px; 
    height: 15px;
    width: 70%;
    margin-top: 2%;
 }

 footer img{
    position: absolute;
    /* clear: both; */
 }
/* Using stackoverflow */
footer hr {     
    background: url('../img/hr-img.png') no-repeat;
    background-size: contain;
    display: block;
    border: 0;
    width: 70%;
    position: absolute;
    bottom: 50pt;

    }

#logoLine{
    display: block;
    height: 10pt;
    border: 0;
    width: 50%;
    position: relative;
    border-top: .02px solid rgb(194, 194, 194); 
    }

    footer img {

        position: absolute;
        top:1650px;
        left: 650px;

    }
footer p{
    text-align: center;
    color: darkgrey;
}


main {
    width: 960px;
    margin:auto;
    margin-top: 25px;
    box-sizing:border-box;
}

#Titel2{
    width:500px;

}

main #Titel2 h1{
    float:left;
    font:50px bold;
    
}

main #Titel2 h4 {
    float:left;
    font-family: 'Shadows Into Light', cursive;
    font-size: 15px;
    color:rgb(112, 111, 111);
    font-family: 'Teko', sans-serif;
}

#Pimg {
   position: absolute;
   top: 155px;
   right: 250px;
    clear: both;
    font-family: 'Shadows Into Light', cursive;
    font-size: 14px;
    width:30px;
    color: rgb(112, 111, 111);

   
}

#Pimg img{ 
    float:right;
    margin-right:5px;
    padding-bottom: 10px;
    height: 15px;
    
}
#pimg p {
    position: absolute;

}




#hero img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    clear: both; 
    padding-top: 50px;

}
#midText {
    display: block;
     clear: both;
     margin-left: auto;
     margin-right: auto;
     text-align:justify;
     margin-left: 1%;
     font-size:larger;
     padding: 2%;
     color:dimgray;
     width: 965px;
}
#firstLine{
    margin-left: 3%;





}